.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://fondosmil.com/fondo/9887.jpg');
    background-size: 100vw ;
    background-attachment: fixed;
    text-align: center;
    
}
form{
    margin: 8rem 0;
    width: 450px;
    height: 75%;
    display: flex;
    flex-direction: column;
    border: 1px solid blueviolet;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
   
}
form h2{
    margin-top: 2rem;
}
form input{
    border: 1px solid rgb(219, 215, 215);
    padding: .75rem 0;
    width: 60%;
    margin-top: 1.5rem;
    border-radius: 8px;
    border: none;
    background-color:lightsteelblue;
    color:rgb(41, 66, 66)
    
    
}
form button{
    margin: 2rem 0;
    width: 60%;
    padding: .5rem .5rem;
    background-color: #32384a;
    color: floralwhite;
}